html, body{
    height: 100%;
    min-width: 300px;
}

body{
    padding: 10px;
}

.title{
    display: flex;
    justify-content: center;
    color: black;
    border: 7px solid #ede952;
    height: 50px;
    font-size: 1.9rem;
}

main{
    display: flex;
    flex-flow: row nowrap;
    margin-top: 10px;
}

.sidebar{
    display: flex;
    flex-flow: column nowrap;
    width: 120px;
    border: 5px solid #97bb35;
    padding: 10px;
    overflow-y: scroll;
}

.sidebar > span{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.container{
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    border: 5px solid #f3cf43;
    margin-left: 10px;
    align-content: flex-start;
    overflow-y: scroll;
}

.card{
    display: flex;
    flex-flow: column nowrap;
    width: 200px;
    min-height: 140px;
    padding: 7px;
    background-color: #e2a70d;
    margin: 7px;
}

.card > img{
    width: 100%;
    margin-bottom: 9px;
}

.card > span{
    color : white;
    font-weight: bolder;
    text-align: center;
}

@media (max-width: 970px){
    .card{
        background: #f3cf43;
    }
}

